* {
    outline: 1px solid black;
}

body,
#calculator,
#numbers {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    flex-direction: column ;
    width: 400px;
    height: 500px;
}

#display {
    width: 300px;
    height: 50px;
}

#numbers {
    width: 300px;
    flex-wrap: wrap;
    gap: 5px;
}


#numbers > button {
    width: 75px;
    height: 75px;
    border-radius: 15px;
    font-size: 30px;
}